NEXT_PUBLIC_APP_URL=https://smlee.info

# https://github.com/grubersjoe/github-contributions-api
GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de

# shadcn registry namespace
NEXT_PUBLIC_REGISTRY_NAMESPACE=@smlee
NEXT_PUBLIC_REGISTRY_NAMESPACE_URL=https://smlee.info/r/{name}.json
